  @property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

@property --c-mid {
  syntax: "<color>";
  initial-value: #00570c;
  inherits: false;
}
@property --c-dark {
  syntax: "<color>";
  initial-value: #001f05;
  inherits: false;
}
  .projectCardWrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background-image: conic-gradient(
      from var(--rotate),
      var(--primary) 0%,
      var(--c-mid) 43%,
      var(--c-dark) 70%,
      var(--primary) 100% 
    );
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    animation: cardSpin 2.5s linear infinite;
    opacity: 1;
    transition: --c-mid 0.6s ease, --c-dark 0.6s ease;
  }

  .projectCardWrapper::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 4px;
    right: 4px;
    z-index: -1;
    height: 100%;
    width: calc(100% - 8px);
    filter: blur(22px);
    background-image: conic-gradient(
      from var(--rotate),
      var(--primary) 0%,
      var(--c-mid) 43%,
      var(--c-dark) 70%,
      var(--primary) 100%
    );
    opacity: 0.65;
    animation: cardSpin 2.5s linear infinite;
    border-radius: 16px;
    transition: --c-mid 0.6s ease, --c-dark 0.6s ease;
  }

 .projectCardWrapper:hover::after, .projectCardWrapper:hover::before {
    --c-mid: #16c72e;
    --c-dark: #16c72e;
  }

  @keyframes cardSpin {
    0% { --rotate: 0deg; }
    100% { --rotate: 360deg; }
  }