.projects{
    &::before{
      content: "";
      background: #cbcbcb;
      display: block;
      height: 2px;
      margin-bottom: 12px;
      opacity: .3;
      width: 100%;
    }
    & .project-box{
      position: relative;
      border: 1px solid #cbcbcb3d;
      & button{
        border: 3px solid #16c72e30;
      }
      & img{
        width: 600px;
      }
      & p{
        font-family: sans-serif;
        color: #adb5bd;
      }
      
    }
  }
  /* hover border effect */
  .project-box::before,
  .project-box::after {
    z-index: -2;
      border: 2px solid transparent;
      width: 0;
      height: 0;
      position: absolute;
      content: "";
  }
  .project-box::before {
      top: 0px;
      left: 0px;
  }
  .project-box::after {
      bottom: 0px;
      right: 0px;
  }
  .btb-active.project-box::before,
  .btb-active.project-box::after,
  .project-box:hover::before,
  .project-box:hover::after {
    border-radius: 0.5rem;
      width: 100%;
      height: 100%;
  }
  .btb-active.project-box::before,
  .project-box:hover::before {
      border-top-color: #16c72e;
      border-right-color: #16c72e;
      transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }
  .btb-active.project-box::after,
  .project-box:hover::after {
      border-bottom-color: #16c72e;
      border-left-color: #16c72e;
      transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }