.ourServices{
  margin-top: -100px;
}
.ourServices::before{
  content: "";
  background: #cbcbcb;
  display: block;
  height: 2px;
  margin-bottom: 12px;
  opacity: .3;
  width: 100%;
}
.box{
  border: 2px solid #cbcbcb3d;
  transition-duration: 0.3s;
  &:hover{
    border: 2px solid var(--primary);
    box-shadow: 0px 0px 20px 5px var(--primary);
  }
  & p{
    font-family: sans-serif;
    color: #adb5bd;
  }
}
@media (max-width: 992px){
  .box{
    border: 2px solid var(--primary);
    &:hover{
      box-shadow: none;
    }
  }
}