.skills::before {
  content: "";
  margin: 0 3rem;
  background: #cbcbcb;
  display: block;
  height: 2px;
  opacity: 0.3;
}
.skills svg {
  width: auto;
  height: 50px;
}
.skillBox {
  border: 1px solid #cbcbcb3d;
  width: 450px !important;
  align-items: center !important;
}

@media (max-width: 992px) {
  .skills::before {
    margin: 0 1rem;
  }
  .skills .skillBox {
    width: 300px !important;
    /* align-items: center !important; */
  }
}
