.skills{
    &::before{
      content: "";
      margin: 0 3rem;
      background: #cbcbcb;
      display: block;
      height: 2px;
      opacity: .3;
    }
    svg{
      width: auto;
      height: 50px;
    }
    & .skill-box{
      border: 1px solid #cbcbcb3d;
      width: 450px !important;
    }
  }
  @media (max-width: 992px) {
    .skills::before{
      margin: 0 1rem;
    }
  }