input, textarea{
    outline-color: var(--primary);
} 
footer{
    background: linear-gradient(0deg, var(--primary) -704%, transparent 100%);
}
canvas{
    /* height: 3261px; */
}
@media (max-width: 992px){
    .contact .contact-content .box .social lord-icon{
        width: 55px !important;
    }
  }