.contact{
  &::before{
    content: "";
    background: #cbcbcb;
    display: block;
    height: 2px;
    margin-bottom: 12px;
    opacity: .3;
    width: 100%;
  }
    & form{
      font-family: sans-serif;
      max-width: 600px;
      & .send{
        border: 1px solid #cbcbcb4f;
      }
    }
    & .box{
      background-color: #cbcbcb1a;
      & .social{
        width: 100%;
        & .whatsapp{
          max-width: 60px;
        }
        & svg{
          margin-right: 1rem;
          width: 100%;
          max-width: 70px;
          transition-duration: 0.3s;
          &:hover{
            transform: scale(1.2);
          }
        }
      }
      .download {
        font-family: sans-serif;
        border: 1px solid #cbcbcb4f;
        & svg{
          width: 2em;
          margin: 0 .5rem;
        }
      }
    }
  }
  .btn-outline-success{
    --bs-btn-color: var(--primary) !important;
      --bs-btn-border-color: var(--primary) !important;
      --bs-btn-hover-bg: var(--primary) !important;
      --bs-btn-hover-border-color: var(--primary) !important;
    --bs-btn-active-bg: var(--primary) !important;
    --bs-btn-active-border-color: var(--primary) !important;
    --bs-btn-disabled-color: var(--primary) !important;
    --bs-btn-disabled-border-color: var(--primary) !important;
  }