.contact{
  &::before{
    content: "";
    background: #cbcbcb;
    display: block;
    height: 2px;
    margin-bottom: 12px;
    opacity: .3;
    width: 100%;
  }
    & form{
      font-family: sans-serif;
      max-width: 600px;
      & .send{
        border: 1px solid #cbcbcb4f;
      }
    }
    & .box{
      background-color: #cbcbcb1a;
      & .social{
        width: 100%;
        & .whatsapp{
          max-width: 60px;
        }
        & svg{
          margin-right: 1rem;
          width: 100%;
          max-width: 70px;
          transition-duration: 0.3s;
          &:hover{
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .btn {
    font-family: sans-serif !important;
    border: 1px solid #cbcbcb4f !important;
    transition-duration: 0.3s;
    &:hover{
      box-shadow: 0 0 5px var(--primary),
                  0 0 25px var(--primary),
                  0 0 75px var(--primary);
}
    & svg{
      width: 2em;
      margin: 0 .5rem;
    }
  }

