.navbarBrand::before {
  margin-left: auto;
}
.navbarBrand::after,
.navbarBrand::before {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--primary);
  display: block;
  transition: 0.5s;
}
.navbarBrand:hover::after,
.navbarBrand:hover::before {
  width: 100%;
}
.menuList::before {
  content: "";
  border-right: 1rem solid transparent;
  border-top: 1rem solid var(--primary);
}
.menuList::after {
  content: "";
  border-left: 1.6rem solid transparent;
  border-bottom: 1.6rem solid var(--primary);
}

@media (max-width: 1024px) {
  .menuList::before,
  .menuList::after {
    display: none;
  }
}
