.navbar{
  background: linear-gradient(180deg, rgba(0, 0, 0, .65), transparent);
  height: 112px;
}
.navbar button{
  background-color: var(--primary);
}
.navbarBrand::before {
  margin-left: auto;
}
.navbarBrand::after, .navbarBrand::before {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--primary);
  display: block;
  transition: 0.5s;
}
.navbarBrand:hover::after, .navbarBrand:hover::before {
  width: 100%;
}

.navItem{
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.navItem::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--primary);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.navItem:hover::before {
  scale: 3;
}

.navItem:hover {
  transition-delay: 0.1s;
  color: #212121;
  box-shadow: 0 0px 20px var(--primary);
}

.menu{
  display: flex;
  clip-path: polygon(16px 0px, 100% 0px, 100% 30px,
  calc(100% - 18px) 48px,
  0px 1000%, 0px 16px
  );
}
.menuList{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: solid 1px var(--primary);
  background: rgba(0, 0, 0, 0.6);
}
.menuList::before{
  content: "";
  border-right: 1rem solid transparent;
  border-top: 1rem solid var(--primary);
}
.menuList::after{
  content: "";
  border-left: 1.6rem solid transparent;
  border-bottom: 1.6rem solid var(--primary);
}




@media (max-width: 992px) {
  .menu{
    justify-content: flex-end;
    clip-path: none;
  }
  .menuList::before,.menuList::after{
    display: none;
  }
  .navItem{
    padding: 1rem 3rem !important;
    & a{
      font-size: 2rem !important;
    }
  }
}