.navbarBrand::before {
  margin-left: auto;
}
.navbarBrand::after,
.navbarBrand::before {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--primary);
  display: block;
  transition: 0.5s;
}
.navbarBrand:hover::after,
.navbarBrand:hover::before {
  width: 100%;
}
.navItem::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--primary);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.navItem:hover::before {
  scale: 3;
}
.menuList::before {
  content: "";
  border-right: 1rem solid transparent;
  border-top: 1rem solid var(--primary);
}
.menuList::after {
  content: "";
  border-left: 1.6rem solid transparent;
  border-bottom: 1.6rem solid var(--primary);
}

@media (max-width: 1024px) {
  .menuList::before,
  .menuList::after {
    display: none;
  }
  .navItem::before {
    content: none;
  }
}
