@font-face {
  font-family: "Blender Pro Book";
  src: url("https://db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.eot");
  src: url("https://db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.ttf")format("truetype"),
}
@font-face {
  font-display: swap;
  font-family: Refinery-25;
  font-style: normal;
  font-weight: 600;
  src: url(/public/fonts/Refinery-25SemiBold-dac0d12b.woff2) format("woff2"),url(/public/fonts/Refinery-25SemiBold-8a4883af.woff) format("woff")
}
:root{
    --primary: #16c72e;
}
body{
    background-color: black !important;
    font-family: "Blender Pro Book", "sans-serif"  !important;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary); 
}
canvas{
  z-index: -1;
  opacity: 0.5;
}
header{
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
