/* @import "tailwindcss"; */
@font-face {
  font-family: BlenderProBook;
  src: url("https://db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.eot");
  src: url("https://db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.svg#Blender Pro Book")format("svg");
}
@font-face{
  font-display:swap;
  font-family:Refinery-25;
  font-style:normal;
  font-weight:600;
  src:url('https://www.cyberpunk.net/build/fonts/Refinery-25SemiBold-dac0d12b.woff2') format("woff2"),
  url('https://www.cyberpunk.net/build/fonts/Refinery-25SemiBold-8a4883af.woff') format("woff")
}
:root{
    --primary: #30e849 ;

}
body{
    background-color: black !important;
    font-family: "Blender Pro Book", "sans-serif"  !important;

}
/* Navbar */

a{
  color: white !important; 

}

/* HeaderVid */
canvas{
  z-index: -1;
  opacity: 0.5;

}
header{
  height: 100vh;
}
/* Header */

/* our services */

/* skills */

/* projects */

/* contact */
